* {
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

img {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "first-cat"
    "fourth-cat" "start-button" "second-cat"
    "third-cat"
}

.board > div {
    height: 150px;
    width: 150px;
    margin: 5px;
}

#cat-one {
    grid-area: "first-cat";
}

#cat-two {
    grid-area: "second-cat";
    transform: rotate(90deg);
}

#cat-three {
    grid-area: "third-cat";
    transform: rotate(180deg);
}

#cat-four {
    grid-area: "fourth-cat";
    transform: rotate(270deg);
}

#start-button {
    grid-area: "start-button";
    height: 150px;
    width: 150px;
}